acp {

   logger.class = org.attribyte.api.ConsoleLogger

   driver.mysql.class = com.mysql.jdbc.Driver
   driver.h2.class = org.h2.Driver

   property {
      std {
         useUnicode = true
         characterEncoding = utf8
      }
   }

   connection {

      # A connection with all properties defined.
      local {
         user = apprw
         password = secret
         connectionString = "jdbc:h2:/var/database/test;IGNORECASE=TRUE"
         testSQL = "SELECT 1 FROM test"
         testInterval = 30s
         createTimeout = 60s
         debug = true
         properties = std
      }

      # A connection with only required properties defined. Values from 'reference.conf' are used for the rest.
      remote {
         user = apprw
         password = secret
         connectionString = "jdbc:mysql://192.168.1.2/attribyte"
         testSQL = "SELECT 1 FROM test"
         properties = std
      }
   }

   pool {

      # A pool with all required properties defined for both the pool and segments.
      # When a segment is "cloned" all properties are copied and the specified properties override.
      localPool {
         minActiveSegments = 1
         startActiveSegments = 0
         idleCheckInterval = 30s
         saturatedAcquireTimeout = "1 second"
         segments = [
            {
               name = segment0
               size = 5
               closeConcurrency = 2
               testOnLogicalOpen = true
               testOnLogicalClose = true
               incompleteTransactionPolicy = report
               openStatementPolicy = silent
               forceRealClosePolicy = connectionWithLimit
               closeTimeLimit = 10s
               connectionName = local
               acquireTimeout = 10ms
               activeTimeout = 60s
               connectionLifetime = 15m
               idleTimeBeforeShutdown = 30s
               minActiveTime = 30s
               reconnectConcurrency = 2
               reconnectMaxWaitTime = 1m
               activeTimeoutMonitorFrequency = 30s
            }
            {
               name = segment1
               clone = segment0
               acquireTimeout = 50ms
               size = 10
            }
            {
               name = segment2
               clone = segment0
               acquireTimeout = 150ms
               size = 10
            }
        ]
      }

      # A pool with only required properties specified for the pool and segments.
      remotePool {
         saturatedAcquireTimeout = 2s
         segments = [
            {
               name = segment0
               size = 5
               connectionName = remote
               acquireTimeout = 10ms
            }
            {
               name = segment1
               clone = segment0
               acquireTimeout = 50ms
               size = 10
            }
         ]
      }
   }
}